# Ignore configuration files that may contain sensitive information.

.DS_Store
.project
.sass-cache
settings.php
project.conf
*.local.make
builds
configs/*
node_modules
lib/modules/*
lib/themes/*

!lib/modules/README
!lib/themes/README
!lib/scripts/README
!configs/default.project.conf